<form role="form">
  <div class="form-heading">
    メッセージ一覧
  </div>
  
  <div class="form-group">
    <% @messages.each do |message| %>
      <label for="InputName"><%= message.name %></label>
      <%= message.body %>
      <br>
    <% end %>
  </div>
</form>

<%= form_for(@message) do |f| %>
  名前:
  <%= f.text_field :name %>

  内容:
  <%= f.text_area:body %>
  <%= f.submit class: "btn btn-sm btn-primary" %>
<% end %>